pandas
numpy
seaborn
matplotlib
scikit-learn
ipykernel
catboost
xgboost
-e .
# -e . indicates that the current directory should be treated as a package
# The above line allows for local development and testing of the package